/* ------------ GLOBAL ------------ */
body {
  background-color: grey;
}

img {
    width: 100%;
    height: auto;
}

a {
  cursor: pointer;
  color: white;
}

a:hover {
  color: #373534;
}

/* ------------ CLASS ------------ */
.block {
	background-color: white;
  color: #373534;
	padding: 30px;
	margin: 10px;
  width: 375px;
  height: 400px;
}

.center-text {
  text-align: center;
}

.block-div {
  padding: 0;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  border-color: transparent;
  background-color: #56AEDA;
}

.white {
  color: white;
}

.no-border {
  border: 0px;
}

.banner {
  background-color: LightGray;
  margin: 0 -15px;
/*max-height: 200px;
overflow: hidden;*/
}

.banner-text {
  padding: 5px;
}

.navbar {
  margin: 0;
  border-radius: 0;
}

.center-text {
  text-align: center;
}

.block-div {
  padding: 0;
}

.white {
  color: white;
}

.no-border {
  border: 0;
}

.banner {
  background-color: LightGray;
  margin: 0 -15px;
/*max-height: 200px;
overflow: hidden;*/
}

.banner-text {
  padding: 5px;
}

.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar {
  background-color: #373534;
  color: white;
}

.banner-image {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.banner-image img {
  display: inline-block;
  float: none;
  vertical-align: middle;
  width: 100%;
}

.banner-image .email-signup {
  background-color: rgb(31,178,226);
  color: white;
  padding: 10px;
  position: absolute;
  right: 0px;
}

.modal-body {
  padding: 5px;
}

.modal-content {
  border-radius: 0px;
}

.modal-dialog {
  margin-top: 150px;
  width: 400px;
}

.modal-decoration {
  height: 10px;
  width: 100%;
  background-color: #56AEDA;
}

.nav-logo {
  padding-top: 0px;
}

.nav-logo img {
  height: 100px;
  width: auto;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}

.text {
  font-size: 125%;
}

.navbar .icon-bar {
  background-color: white;
}

[data-target="#pages"] {
  margin-top: 10px;
}

/* --------- MEDIA QUERIES --------- */
@media screen and (max-width: 768px) {
    .block {
        margin: 10px 0px;
        height: auto;
        width: 100%;
        padding: 5px 20px 10px 20px;
    }

    .nav-logo img {
      height: 60px;
      margin-top: -18px;
    }

    h1.center-text {
      margin-top: 2px;
    }
}