<div class="profile-container">
	<div class="profile-input">
		<div>Username</div>
		<div><input type="text" ng-model="profile.username"></div>
	</div>
	<div class="profile-input">
		<div>First Name</div>
		<div><input type="text" ng-model="profile.firstName"></div>
	</div>
	<div class="profile-input">
		<div>Last Name</div>
		<div><input type="text" ng-model="profile.lastName"></div>
	</div>
	<div class="profile-input">
		<div>Email</div>
		<div><input type="text" ng-model="profile.email"></div>
	</div>
</div>