<div class="profile-container">
	<h2>Profile</h2>
	<div class="profile-input">
		<div>Username</div>
		<div><input type="text" ng-model="profile.username"></div>
	</div>
	<div class="profile-input">
		<div>First Name</div>
		<div><input type="text" ng-model="profile.firstName"></div>
	</div>
	<div class="profile-input">
		<div>Last Name</div>
		<div><input type="text" ng-model="profile.lastName"></div>
	</div>
	<div class="profile-input">
		<div>Email</div>
		<div><input type="text" ng-model="profile.email"></div>
	</div>
	<button class="btn" ng-click="editProfile()">Update Profile</button>

	<div class="dues-container"><a href="https://commerce.cashnet.com/cashneta/selfserve/EditItem.aspx?PC=WEBAGENCY-1C&ItemCount=14">Pay Dues Here</a></div>
</div>